* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* background-color: #141F28; */
    background-color: #111b24; 
    font-family: verdana, arial, sans-serif;
    color: white;
}


/* LINK */
/* unvisited link */
a:link {
    color: blue;
    text-decoration-line: none;
}

/* visited link */
a:visited {
    color: blue;
    text-decoration-line: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration-line: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration-line: none;
}
.namePrice {
    display: block;
    margin-top: 7px;
    margin-bottom: 7px; 
    padding-left: 20px;
    background-color: #141F28;

}

.showName {
    display: inline-block;
    width: 25%;
    padding: 5px; 
    font-size: 18px; 
}

.showPrice {
    display: inline-block;
    width: 25%;
    padding: 5px; 
}

.showChange {
    display: inline-block;
    width: 25%;
    padding: 5px; 
}


/*  SECOND DIV */
.showMenu {
    display: block;
    margin-top: 7px;
    margin-bottom: 7px; 
    text-align: center;
    background-color: #141F28;
}

.showStat {
    display: inline-block;
    width: 31%;
    padding: 5px; 
}

.showProfile {
    display: inline-block;
    width: 27%;
    padding: 5px; 
}

.showBlog {
    display: inline-block;
    width: 27%;
    padding: 5px;  
}


/*  STAT TABLE */
.showBlogDiv { 
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 15px;
    font-size: 13px;  
}


.showBlogDiv th{
    padding-right: 6px;
    width: 22%; 
    text-align: left;
    padding: 3px;
    
}

.showBlogDiv td, th {
    border-bottom: 2px solid #141F28;
}


/*  PROFILE DIV */
.showProfileDiv {  
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    font-size: 13px;
    border-bottom: 2px solid #141F28;
}

.showProfileDiv td, th {
    padding: 5px;
    border-bottom: 2px solid #141F28;
}



/*  POST DIV */
.posts {
    /* padding: 3px; */
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #141F28;
}

.posts th {
    width: 30%;
}

#title {
    width: 80%;
    height: 40px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 13px;

}

#postBttn {
    -webkit-appearance: none; 
    background-color: blue; 
    color: white; 
    font-size: 15px; 
    border: 1px solid blue;  
    text-align: center;
    padding: 3px;
    display: inline-block;
    bottom: 5px;
    vertical-align: top;
    height: 40px;
}


.posts { 
   padding-right: 10px; 
}

#addBttn :hover {
    color: blue;
}

